In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("50_Startups.csv")
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
## split the dataset  
X = df['Marketing Spend']
y = df.pop('Profit')

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7,test_size=0.3)

In [12]:
X_train

47         0.00
20    298664.47
25    137962.62
35    205517.64
12    249839.44
2     407934.54
31     88218.23
41    164470.71
44     28334.72
24    140574.81
15    261776.23
8     311613.29
48         0.00
49     45173.06
38    185265.10
9     304981.62
18    294919.57
28    118148.20
26    134050.07
42    148001.11
17    282574.31
36    201126.82
45      1903.93
21    299737.29
11    249744.55
19         0.00
14    256512.92
33    214634.81
43     35534.17
32     46085.25
1     443898.53
13    252664.93
29    107138.38
5     362861.36
34    210797.67
Name: Marketing Spend, dtype: float64

In [13]:
y_train

47     42559.73
20    118474.03
25    107404.34
35     96479.51
12    141585.52
2     191050.39
31     97483.56
41     77798.83
44     65200.33
24    108552.04
15    129917.04
8     152211.77
48     35673.41
49     14681.40
38     81229.06
9     149759.96
18    124266.90
28    103282.38
26    105733.54
42     71498.49
17    125370.37
36     90708.19
45     64926.08
21    111313.02
11    144259.40
19    122776.86
14    132602.65
33     96778.92
43     69758.98
32     97427.84
1     191792.06
13    134307.35
29    101004.64
5     156991.12
34     96712.80
Name: Profit, dtype: float64

In [ ]:
# instance of a model
# training the model
# using the trained model we will find prediction
# we will evaluate the model

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
# instance of a model
lr = LinearRegression()

In [16]:
# training the model
lr.fit(X_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[     0.   298664.47 137962.62 205517.64 249839.44 407934.54  88218.23
 164470.71  28334.72 140574.81 261776.23 311613.29      0.    45173.06
 185265.1  304981.62 294919.57 118148.2  134050.07 148001.11 282574.31
 201126.82   1903.93 299737.29 249744.55      0.   256512.92 214634.81
  35534.17  46085.25 443898.53 252664.93 107138.38 362861.36 210797.67].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.